
substitutions:
  openthread_tlv: ""
  # a true ignora la configurazione salvata nella memoria flash e la sovrascrive
  openthread_force_dataset: "true"
  ota_password: ""

esp32:
  framework:
    sdkconfig_options:
      CONFIG_OPENTHREAD_ENABLED: "y"

network:
  enable_ipv6: true

ota:
  - platform: esphome
    password: ${ota_password}

openthread:
  tlv: ${openthread_tlv}
  device_type: FTD
  force_dataset: ${openthread_force_dataset}

sensor:
  - platform: thread_network
    rssi:
      name: "Thread Signal RSSI"
      id: thread_rssi

text_sensor:
  - platform: template
    name: "Thread Quality"
    lambda: |-
      if (std::isnan(id(thread_rssi).state)) {
        return {"In attesa..."};
      }
      if (id(thread_rssi).state > -60) return {"Eccellente"};
      if (id(thread_rssi).state > -75) return {"Buono"};
      if (id(thread_rssi).state > -85) return {"Sufficiente"};
      if (id(thread_rssi).state > -95) return {"Scarso"};
      return {"Critico"};
    icon_template: |-
      if (std::isnan(id(thread_rssi).state)) return "mdi:wifi-refresh";
      if (id(thread_rssi).state > -60) return "mdi:wifi-strength-4";
      if (id(thread_rssi).state > -75) return "mdi:wifi-strength-3";
      if (id(thread_rssi).state > -85) return "mdi:wifi-strength-2";
      return "mdi:wifi-strength-1";
    update_interval: 60s