substitutions:
  wifi_ssid: ""
  wifi_password: ""
  # esegue la connessione veloce senza fare la scansione di tutta la rete
  wifi_fast_connect: "true"
  # può avere tre valori (none, light, high) serve per ridurre il consumo energetico del wifi (utile per dispositivi a batteria)
  wifi_power_save_mode: "none" 
  wifi_reboot_timeout: "15min" 
  # tempo di attesa per avviare l'hotspot di emergenza
  wifi_ap_timeout: "1min"
  wifi_ap_password: ""
  ota_password: ""

ota:
  - platform: esphome
    password: ${ota_password}

wifi:
  ssid: ${wifi_ssid}
  password: ${wifi_password}
  fast_connect: ${wifi_fast_connect}
  power_save_mode: ${wifi_power_save_mode}
  reboot_timeout: ${wifi_reboot_timeout}
  ap:
    # device name è una variabile di sistema generata in automatico
    ssid: "Fallback-Hotspot-${device_name}"
    password: ${wifi_ap_password}
    ap_timeout: ${wifi_ap_timeout}


captive_portal: